
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
/.idea
/config/jwt/*
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
